.card {
  display: grid;
  grid-auto-flow: row;
  grid-template: auto 1fr auto / 1fr;
  width: 100%;
  border: 1px solid #e2e8f0;
  padding: 16px 0px;
  box-shadow: 0 4px 15px 0 rgba(151, 151, 151, 0.1);
  background: #fff;
}

.card > *:not(:last-child) {
  margin-bottom: 16px;
}

.card__date {
  display: flex;
  gap: 10px;
  border-bottom: 1px solid #e2e8f0;
  padding: 0px 20px 16px 20px;
}

.card__date-ico {
  display: flex;
  align-items: center;
}

.card__date-datetime {
  font-weight: 400;
  font-size: 13px;
  color: #94a3b8;
}

.card__box {
  padding: 0px 20px;
}

.card__box > *:not(:last-child) {
  margin-bottom: 10px;
}

.card__title {
  font-weight: 500;
  font-size: 18px;
}

.card__location {
  font-weight: 400;
  color: #94a3b8;
}

.card__btns {
  padding: 0px 20px;
  display: flex;
  gap: 15px;
}

.card__btn {
  border-radius: 3px;
  padding: 10px;
  background: #6366f1;

  font-weight: 400;
  font-size: 13px;
  color: #fff;
}
