.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination__buttons {
  display: flex;
  gap: 10px;
}

.pagination__buttons > button {
  display: flex;
  align-items: center;
  gap: 3px;
  padding: 8px 12px;

  border-radius: 3px;
  border: 1px solid #e2e8f0;
  background: #fff;
  box-shadow: 0px 4px 15px 0px rgba(151, 151, 151, 0.1);

  cursor: pointer;
}

.icon-arrow-right {
  display: flex;
  align-items: center;
}

.icon-arrow-left {
  display: flex;
  align-items: center;
}

._active {
  color: #6366f1;
}

.disabled {
  color: #d5dee6;
  cursor: not-allowed;
}

.pagination-info {
  font-weight: 400;
  color: #94a3b8;
}

.pagination-info > span {
  color: #1e293b;
}
